
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "generic/mixins";

    /*------------------------------------*\

    /**
    * Variables
    */


    /*------------------------------------*\

    /**
    * @title SVGS
    */

     @include exports("forms") {
/**
        * @title Forms
        */

        %form-wrap {
            background:$white;
            border-radius:3px;
            padding:0;
        }


            fieldset {
                border:none;
                @extend %form-wrap;
            }

            /**
            * @name Form-Fields
            * @description Style for the form-fields class
            * @markup
               <ul class=form-fields>
                    <li>
                        <label />
                        <input />
                    </li>
                </ul>
            */

            .form-fields{
                list-style:none;
                margin:0;
                margin-left: -$base-spacing-unit;

                & > li{
                    position: relative;
                    margin:0 0 $base-spacing-unit;
                    padding-left:$base-spacing-unit;
                }

            }


            li.inline {
                line-height: 3em;
                display:inline-block;
            }

            %small-text {
                text-transform:lowercase;
                display:inline-block;
                @include font-size(12px);
            }

            .form__label  {
                @extend %small-text;
                position:relative;
            }

            .hidden-label {
                display:none;
            }
            /**
            * @name Additional
            * @description  Extra help text in `label`s
            * @markup
            *   <label>Card number <small class=additional>No spaces</small></label>
            */



            .additional {
                @extend %small-text;
                text-align:right;
                width:100%;
                &.over-top {
                    position: absolute;
                    top: $base-spacing-unit/2;
                    right: $base-spacing-unit/2;
                    width: $base-spacing-unit*2;
                }
            }

            .action {
                @extend %small-text;
            }


            /**
             *  Inputs
             */

            /**
            * @name Text Inputs
            * @markup
            *   <form><input type="text" placeholder="Basic Inputs" /></form>
            */


            /**
            * @name Text Inputs With Errors
            * @markup
            *   <form><ul class="form-fields">
            *   <li><input  type="text" class="input--has-error" placeholder="Input that has an error">
            *   <div class="message__error">This field is required.</div>
            *   </li></ul></form>
            */

            .message {
                @extend .epsilon;
                @include font-size($micro-size);
                text-align: center;
                line-height: 3;
                font-weight:$weight--medium;
                display: block;
            }

            .message__error {
                @extend .message;
                background: $error;
                color:$white;
                border-radius: 0 0 $brand-round $brand-round;
            }



            /**
            * @name Textarea
            * @markup
            *   <form><textarea type="text" >Basic Textarea</textarea></form>
            */

            input, textarea {
                transition:border .2s, background .2s;
                width:100%;
                background:$grey-light-lighter;
                border:1px solid $grey-light;
                height:50px;
                line-height: 50px;
                margin:0 0 0em;
                @include font-size(18px);
                padding-left:$half-spacing-unit;
                border-radius:3px;





                /**
                * States
                */


                &:focus, &:active {
                    background:$white;
                }



                /**
                * @name Number Input
                * @markup
                *   <form><input type="number" value="1" /></form>
                */

                &[type=number] {
                    text-align: center;
                    border:1px solid $grey;
                    width:auto;
                }



                /**
                * @name Checkboxes Input
                * @markup
                *   <form><input type="checkbox" /></form>
                */

                &[type=checkbox] {
                    position:absolute;
                    & + label {
                        padding:0 0 0 2em;
                        color:$green;
                        transition:color .2s;
                        &:hover {
                            color:$green-dark;
                        }
                    }
                }





                /**
                 *  Submit Button
                 */

                &[type=submit] {
                    width:auto;
                //     transition:background .2s, color .2s;
                //     border:none;
                //     background:$green;
                //     color:$white;
                //     width:100%;
                //     @include font-size(18px);
                //     &:hover {
                //         background:darken($green, 10%);
                //     }
                    &:disabled {
                        border:1px solid rgba($error, .5);
                        color:rgba($error, .5);
                        background:none;
                    }
                }

            }

            textarea {
                padding-top:$half-spacing-unit;
                min-height:200px;
            }

        .input--checkbox input {
            display:none;
            & + label {
                padding:0 0 0 3em;
                &:before {
                    border:2px solid $grey-light;
                    content:' ';
                    height:22px;
                    width:22px;
                    position: absolute;
                    left:0px;
                    border-radius:2px;
                    transition:border .2s;
                }
                &:after {
                    content:'\2715';
                    position: absolute;
                    padding: 0em .1em;
                    line-height:1;
                    transition:opacity .2s;
                    opacity:0;
                    color:$green;
                    font-size:1.8em;
                    left:0;
                    top:0;
                    font-weight:bold;
                }
            }
        }

            .input--checkbox input:checked + label {
                color:$green-dark;
                &:before {
                    border-color: $green;
                }
                &:after {
                    opacity:1;
                }
            }
        /**
        * @name Select Input
        * @markup
        *   <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        */

        select {
            position:relative;
            top:10px;
            width:100%;
            margin:auto;

        }



        /**
         *  Errors
         */

        .note {
            color:$error;
            @include font-size(14px);
            margin-bottom:$base-spacing-unit;
            ul {
                margin:0;
                padding:0;
                list-style:none;
                li {
                    font-weight:$weight--normal;
                    margin:0;
                    padding:$base-spacing-unit/2 0  0 0;
                }
            }
        }

        .has-error {

            > .text-input {
                border-color:$error;
                border-radius:3px 3px 0 0;
            }

        }

        .global-validation-error {
            color:$error;
            display:block;
        }





    }
