
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "generic/mixins";

    /*------------------------------------*\

    /**
    * Variables
    */

    $green : green !default;

    /*------------------------------------*\

    /**
    * @title SVGS
    */

     @include exports("products") {
        .island--features {
            background:$grey-light-brightest;
            margin-top:$base-spacing-unit * 2;
            border-top:1px solid $grey-light-lightest;
            border-bottom:1px solid $grey-light-lightest;
            padding-bottom:$base-spacing-unit * 2;
        }

        .product-grid-item__image {
            height:300px;
            img {
                height:300px;
                width:auto;
                margin:auto;
            }
        }

        .feature {
            .feature__icon {
                position: absolute;
                transform:translateY(-100%);
            }
            .feature__title {
                color:$green;
            }

        }

        .sidebar {

            .sidebar__title {
                color:$green;
            }

        }



    }
