
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "generic/mixins";

    /*------------------------------------*\

    /**
    * Variables
    */


    /*------------------------------------*\

    /**
    * @title Cart
    */

     @include exports("table") {

        .account__table {
            margin-bottom:$base-spacing-unit * 2;
            position:relative;
            th {
                @extend .epsilon;
            }
            &, td, th {
                text-align:left;
                padding:$base-spacing-unit 0;
            }

            tr {

                &:before {
                    content:' ';
                    left:0;
                    right:0;
                    position:absolute;
                    background:$grey-lightest;
                    height:1px;
                    width:auto;
                }
            }
            thead tr:before,
            tfoot tr:before {
                opacity:0;
            }

            tfoot   {
                td {
                    padding:0;
                    &:first-child {
                        text-align:right;
                        @extend .epsilon;
                    }
                }
                tr:last-child {
                    color:$green;
                }
            }




        }


    }
