@import "vars";
@import "inuit.css/inuit";

@import "generic/helper";
@import "generic/mixins";
@import "generic/grid";

@import "ecobee/screen";
@import "ecobee/logo";
@import "ecobee/images";
@import "ecobee/headings";
@import "ecobee/type";
@import "ecobee/links";
@import "ecobee/lists";
@import "ecobee/icons";
@import "ecobee/svgs";
@import "ecobee/buttons";
@import "ecobee/nav";
@import "ecobee/navs";
@import "ecobee/navigation";
@import "ecobee/slideshow_controls";

@import "product";
@import "account";
@import "cart";
@import "sly";
@import "forms";
@import "table";
@import "overlays";

.link--pill {
    display:inline-block;
    position:relative;
    padding-right:$base-spacing-unit/2;
    span {
        position:absolute;
        top:0;
        bottom:0;
        left:100%;
        height:auto;
        border:1px solid;
        padding:0 .6em;
        font-weight:$weight--medium;
        border-radius:2px;
    }
}

.list--controls {
    list-style:none;
    padding:0;
    margin:0;
    margin-left:-$base-spacing-unit/2;
    li {
        display:inline-block;
        padding-left:$base-spacing-unit/2;
        @include font-size($milli-size)
    }
}
