{% assign page = pages.frontpage %}

<section class="soft">
    <div class="row">
        <div class="grid">
            <div class="soft--top grid__item one-whole ">
                <h2 class="title">{{ page.title }}</h2>
                <p class="lead">{{ page.content }}</p>
            </div>
        </div>
    </div>
</section>