{% assign page = pages.frontpage %}

<section class="soft">
    <div class="row">
        <div class="grid">
            <div class="soft--top grid__item palm-one-whole six-twelfths push--lap-and-up-six-twelfths ">
                <div class="soft-double--lap-and-up"><h2 class="title">{{ page.title }}</h2>
                {{ page.content }}</div>
            </div>
        </div>
    </div>
</section>